

<div class="row">
  <div class="col-md-1 col-xs-1 text-center">
    <%= form_for(task) do |f| %>
    <% if params[:activate].to_i == task.id %>
      <%= f.number_field :position, class:"form-control", min: 1, max: @list.tasks.count + 1 %>
    <% else %>
      <%= f.number_field :position, disabled:true, class:"form-control", min: 1, max: @list.tasks.count + 1 %>
    <% end %>
  </div>

<div class="col-md-5 col-xs-5">
  <% if params[:activate].to_i == task.id %>
    <%= f.text_field :body, class:"form-control" %>
    <%= f.hidden_field :list_id, value: @list.id %>
    <%= f.submit "Update Task", class: "btn-sm btn-primary" %>

  <% else %>
    <%= f.text_field :body, class:"form-control", disabled:true %>
    <%= f.hidden_field :list_id, value: @list.id %>
    <%= f.submit "Update Task", class: "btn-sm btn-primary", hidden:true %>

  <% end %>
  <% end %>
  <!-- <% if task.status? == false %>
      <%= task.body %>
  <% else %>
      <s><%= task.body %></s>
  <% end %> -->
</div>
<div class="col-md-2 col-xs-2">
  <%= link_to task_path(task.id, value:'edit'), method: :put do %>
    Edit
  <% end %>


</div>
<div class="col-md-2 col-xs-2">
    <% if task.status? %>
      <%= link_to task_path(task.id, value:'incomplete'), method: :put do %>
        Make Incomplete
      <% end %>
    <% else %>
      <%= link_to task_path(task.id, value:'complete'), method: :put do %>
        Make Complete
      <% end %>
    <% end %>
</div>
<div class="text-center col-md-1 col-xs-1">
    <%= link_to task_path(task.id, value:'complete'), method: :delete do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
</div>

</div>
