

<h1> <%= @list.name %>
      <%= link_to "/lists/#{(@list.id)}/reset", method: :put do %>
      <small> Click to Reset </small>
      <% end %>
</h1>

<div class="table-header"><%= render partial: 'taskheader' %></div>

<ol>

<% @tasks.each do |task| %>
  <%= render partial: 'taskitem',
      locals: { task: task }%>
<% end %>
</ol>
<ul>
    <li>
      <%= form_for(@task) do |f| %>

      <%= f.text_field :body, placeholder: "Enter New Task" %>
      <%= f.hidden_field :list_id, value: @list.id %>
      <%= f.submit "Create Task", class: "btn-sm btn-primary"%>
      <% end %>
    </li>
</ul>
