

<h1> <%= @list.name %>
      <%= link_to "/lists/#{(@list.id)}/reset", method: :put do %>
      <small> Click to Reset </small>
      <% end %>
</h1>

<div class="table-header"><%= render partial: 'taskheader' %></div>

<ol>

<% @tasks.each do |task| %>
  <%= render partial: 'taskitem',
      locals: { task: task }%>
<% end %>
</ol>
<ul>
  <div class="row">
    <%= form_for(@task) do |f| %>
      <div class="text-center col-md-1 col-xs-1">
        <%= f.number_field :position, value: @list.tasks.count + 1, class:"form-control", min: 1, max: @list.tasks.count + 1 %>
      </div>
      <div class="col-md-5 col-xs-5">
      <%= f.text_field :body, class:"form-control", placeholder: "Enter New Task" %>
      <%= f.hidden_field :list_id, value: @list.id %>
    </div>
    <%= f.submit "Create Task", class: "btn-sm btn-primary"%>
    <% end %>

  </div>
</ul>
